[submodule "mainui_cpp"]
	path = mainui_cpp
	url = https://github.com/byoreo/mainui_cpp
[submodule "hlsdk"]
	path = hlsdk
	url = https://github.com/ValveSoftware/halflife
[submodule "mainui"]
	path = mainui
	url = https://github.com/byoreo/mainui_cpp.git
